# Doxyfile configuration for generating documentation from Lua file using lua_doxygen_filter.pl

PROJECT_NAME            = "Greetings API"
PROJECT_NUMBER          = 1.0
PROJECT_BRIEF           = "Says Hello"
INPUT                   = ./greeting.lua
FILTER_PATTERNS         = *.lua=lua_doxygen_filter.pl
FILTER_PATTERNS         =
PROJECT_NUMBER          = 1.0
EXTENSION_MAPPING       = lua=C++
OUTPUT_DIRECTORY        = ./Docs
ENABLE_PREPROCESSING    = YES
EXTRACT_ALL             = YES

EXTRACT_PRIVATE      	= YES
EXTRACT_STATIC          = YES
RECURSIVE               = YES
SOURCE_BROWSER      	= YES

EXPAND_ONLY_PREDEF     = NO
VERBATIM_HEADERS       = YES
INLINE_SOURCES         = YES

GENERATE_HTML           = YES
GENERATE_LATEX          = NO
#MACRO_EXPANSION         = YES
FULL_PATH_NAMES         = YES
GENERATE_TREEVIEW       = YES

QUIET = NO
WARNINGS               = YES
WARN_IF_UNDOCUMENTED   = YES
#WARN_IF_DOC_ERROR      = YES
WARN_IF_DOC_ERROR      = NO

WARN_IF_INCOMPLETE_DOC = YES
WARN_NO_PARAMDOC       = YES
WARN_IF_UNDOC_ENUM_VAL = YES
WARN_AS_ERROR          = YES
WARN_FORMAT            = "$file:$line: $text"
WARN_LINE_FORMAT       = "at line $line of file $file"
#WARN_LOGFILE           = Warnings.log
